@using MAASoft.HomeBankingWeb.Sitio.Core;
@using MAASoft.HomeBankingWeb.Sitio.Servicios;
@model List<MAASoft.HomeBankingWeb.Sitio.Models.SaldoCajaAhorro>
@{
    ViewBag.Title = "Resúmen General";

    string urlExportacion = MAASoft.HomeBankingWeb.Sitio.Helpers.UrlHelper.GenerarUrl(Request.Url.AbsoluteUri, new Dictionary<string, string> { { "exp", true.ToString() } });
}

<h2 class="page-title">@ViewBag.Title</h2>
@if (Model != null && (Model.Count > 0))
{
    @Html.Partial("_BotonDescargar")
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => m.First().Tipo)</th>
                    <th>@Html.DisplayNameFor(m => m.First().Cuenta)</th>
                    <th>@Html.DisplayNameFor(m => m.First().Saldo)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (MAASoft.HomeBankingWeb.Sitio.Models.SaldoCajaAhorro m in Model)
                {
                    <tr>
                        <td>@m.TipoDesc</td>
                        <td class="text-right">@m.Cuenta</td>
                        <td class="text-right">@Formato.FormatoMoneda(m.Saldo)</td>
                        <td class="text-center"><a href="@Url.Action("CajaDeAhorros", "Home", new { tipoComprobante = m.TipoAMV})" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-search"></span></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-info">
        No posee Caja de ahorros.
    </div>
}
